* {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    transition: .3s ease-in-out;

}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: heading;
    src: url(../font/IMPRISHA.TTF);
}

body {
    background: #e4feff;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

header {
    background-color: #fadf67;
    height: auto;
    padding-bottom: 5px;
    color: #b10008;
    width: 100%;
    text-align: center;
    font-size: calc(1.7874999999999999rem + (3.25 - 1.7874999999999999) * ((100vw - 25rem) / (48 - 20)));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: heading;
}

.navbar {
    display: flex;
    background: linear-gradient(#fadf67, transparent);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}

.sidebar-btn {
    background: #e600ee;
    height: 100%;
    width: 50px;
    border-radius: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar-btn hr {
    height: 4px;
    width: 30px;
    border: none;
    background: #030001;
    margin: 3px 0px;
    border-radius: 2px;
}

.nav-notice {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #ee00ee, #ee0000);
    color: white;
    padding: 5px;
    border-radius: 50px 0 0 50px;
}

#sidebar:checked~.sidebar {
    transform: translateX(0px);
}

#sidebar:checked~* .sidebar-btn .hr-btn-1 {
    top: 10px;
    position: relative;
    transform: rotate(45deg);
}

#sidebar:checked~* .sidebar-btn .hr-btn-2 {
    transform: translateX(-50px);
}

#sidebar:checked~* .sidebar-btn .hr-btn-3 {
    transform: rotate(-45deg);
    top: -10px;
    position: relative;
}

.sidebar {
    position: absolute;
    width: 200px;
    height: 100vh;
    background: #d185d6b8;
    backdrop-filter: blur(3px);
    border-right: #600e74 solid 2px;
    transform: translateX(-202px);
    transition: .2s cubic-bezier(0.42, 0, 0.68, 0.31);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    z-index: 2;
    overflow-x: hidden;
}

.menu {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 25px;
}

.menu:hover {
    background: #600e74;
    color: white;
    text-shadow: 0 0 10px white;
}

.m-hstl-sub-m {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    background: #b152c9;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-shadow: none;
    height: 0px;
    overflow: hidden;
}

.m-hostel:hover .m-hstl-sub-m {
    height: 100px;
    margin: 15px 0 -25px;
    overflow: auto;
}

.sub-m-s {
    width: 100%;
    height: 180px;
    padding: 10px;
}

.sub-m-s:hover {
    background: #f4d7fc;
}

/*-------------------home---------------------*/
.mrq-img {
    height: 300px;
    padding: 10px;
}

.mrq-img img {
    height: 300px;
    width: auto;
    margin: 0 8px;
    border-radius: 20px;
    box-shadow: 10px 16px 10px #73d9e0;
}

.t-profile {
    display: flex;
    width: 100%;
    overflow: scroll;
    background: #f5487f;
    padding-bottom: 30px;
}

.t-profile-holder {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: #ffaef4;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 8px 5px 17px #f1004d;
}

.t-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.t-profile-holder span {
    margin: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.t-name {
    font-size: 20px;
    margin: 0 0 3px !important;
}

.t-profile-holder span p {
    margin: 3px 0 0;
}

.about-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    background: #f7f6ff;
    align-content: space-evenly;
    font-style: initial;
}

.ag-about {
    background: #ffb7d1;
    max-width: 350px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-right: 10px;
}

.ag-a-title {
    font-size: 38px;
    font-family: 'heading';
    color: #7e7200
}
.ag-a-about{
    font-size: 22px;
    text-align: center;
    font-family: system-ui
}

.ag-a-btn {
    text-align: center;
    padding: 5px 15px;
    margin-left: calc(50% - 101.53px / 2);
    border-radius: 20px;
    background: radial-gradient(circle at top left, #98e9f7, #ee00b0);
}

.ag-g-btn {
    text-align: center;
    padding: 5px 25px;
    max-width: fit-content;
    margin-left: calc(50% - 104.25px / 2);
    border-radius: 20px;
    background: radial-gradient(circle at top left, #98e9f7, #ee00b0);
}

.ag-gallery {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background: #ffb7d1;
    padding: 10px 5px;
    border-radius: 20px;
}

.ag-img-container {
    max-height: 300px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ag-img-container img {
    width: fit-content;
    max-height: 95px;
    border-radius: 20px;
    margin: 5px;
}

.home-contact {
    background-color: #ffb2ce;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    align-content: space-evenly;
    justify-content: space-evenly;
    font-size: 20px;
}

.c-address {
    background-color: #73d9e0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    text-align: center;
    font-family: math;
}

.c-map {
    background-color: #73d9e0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 16px;
    border-radius: 10px;
    font-style: italic;
}

.phone,
.mall,
.add {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;

}

.social-icon {
    background-color: #e600ee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    align-content: space-evenly;
    justify-content: space-evenly;
    font-size: 24px;
}

.profile {
    border-radius: 200px;
    width: 29px;
}

.footer {
    background-color: #2b5489;
}

/*-------------------about---------------------*/
.about {
    background-color: #ffb2ce;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    margin: 40px 20px 7px;
    box-shadow: 8px 13px 17px #f1006f;
}

.about-img {
    height: 185px;
    width: auto;
    margin: 24px 24px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #2B54FC;
}
.text{
    font-size: 22px;
    align-items: center;
    text-align: center;
    font-family: cursive;
}

/*-------------------gallery---------------------*/
.gallery {

    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center
}

.gallery-img {
    max-width: 350px;
    max-width: 350px;
    margin: 8px;
    width: 90%;
    border-radius: 25px;
    box-shadow: 8px 10px 7px #332b04;
}

.gallery-cam {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    
}

.gallery-campus {
    max-width: 350px;
    max-width: 350px;
    margin: 8px;
    width: 90%;
    border-radius: 25px;
    box-shadow: 8px 10px 7px #713310;
}

.c-g {
    font-size: 9vh;
    background: #a9ad10;
    border-radius: 21px;
    margin: 9px;
}

/*-------------------hostel---------------------*/
.header-bha{
    background-color: #ab8b1d;
    height: auto;
    color: #fbf6f6;
    width: 100%;
    text-align: center;
    display: flex;
    max-width: 350%;
    padding: 29px 4px;
    justify-content: space-around;
    font-size: 45px;
    font-family: fantasy;
}


.bhabha-pho{
  
    text-align: center;
    width: 100%;
    display: flex;
 


}
.bhabha-photo{
   
    max-width: 350px;
    margin: 8px;
    width: 90%;
    border-radius: 25px;
    height: 200px;
    box-shadow: 8px 10px 7px #e10f00 ;
}
.bhabha-about{
    background-color: #ffb2ce;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    margin: 28px 6px;
    box-shadow: 8px 13px 17px #0fd3dc;
    font-family: cursive;
    text-align: center
}
.bhabha-map{    display: flex;
    justify-content: space-around;
    padding: 18px;
    border-radius: 20px;
    background: #8db123;
}



/*-------------------reslt---------------------*/ 
 